<strong> Spring Boot Test </strong> <br>

<form action="/main" method="post">
    Input Your Name : <input type="text" name="name"> <br>
    Input Integer n (Calculate sum from 1 to n) : <input type="text" name="num"> <br>
    <input type="submit" value="Spring Boot Test">
</form>