Hello <strong>{{ username }}! </strong>, Hello Spring Boot! <br> <br>

Sum from 1 to {{ num }} is <strong>{{ sum }}</strong>. <br> <br>

<strong> Test API </strong> <br><br>

URL : /api/get/{Integer} <br>
Method : GET <br>
Parameter : name(Type : String) <br><br>

URL : /api/post/{Integer} <br>
Method : POST <br>
Parameter : name(Type : String) <br><br>